@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');
/** second-section font h2 **/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@700&family=Lora:wght@600&family=Poppins&family=Spline+Sans:wght@700&display=swap');
/** footer h2 **/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@700&family=Lobster+Two:wght@700&family=Lora:wght@600&family=Oswald:wght@700&family=Playball&family=Poppins&family=Spline+Sans:wght@700&display=swap');
*{margin: 0; padding: 0;}
body{
    width: 100%;
    margin: 0 auto;
    background-color: #dfeaeb;
}

/** first section **/
.first-section{ 
    margin-top: 7%;
   display: flex;
   margin: 7% 11% 5% 4%;
}
.first-section-div-1{
   width: 50%;
   margin-right: 24%;
   color: rgb(72 69 66);
}
.first-section-div-1 .mission{
    border-left: 3px ridge rgb(170, 50, 220, .6);
    margin-bottom: 5%;
    font-family: 'Abril Fatface', cursive;
    font-size: 203%;
    padding:0% 3%;
}
.first-section-div-1 .mission h1{
    color: rgb(72 69 66);
    margin-left: 3px;
    margin-top: 2px;
}
.first-section-div-1 .mission h2{
    color: rgb(221 114 51); 
}
.first-section-div-2{
    width: 50%;
    margin-top: -12%;    
}
.first-section-div-2 img{
    width: 116%;
    height: 98%;
}
.button{
    text-decoration: none;
    background-color: #FF5959;
    color: beige;
    display: block;
    text-align: center;
    margin: 3% 70% 5% 0%;
    padding: 2% 0%;
    border-radius: 8%;
}

/** Second section **/
.second-section{
    margin-top: 7%;
}
.second-section h2{
    text-align: center;
    font-size: 220%;
    color: #17143D;
    font-family: 'Spline Sans', sans-serif;
    margin-top: -2%;
    margin-bottom: -2%;
}
.second-section-span{
    color: #FFB367;
}
.second-section-feature-part{
    width: 24%;
    height: 50%;
    float: left;
    background-color: #EDF5F6;
    margin: 5% 0% 5% 4%;
    padding: 2%;
    border-radius: 5%;
}
.second-section-feature-BAC-2{
    background-color: #FFEEEE;
}
.second-section-feature-BAC-3{
    background-color: #FFF4D6;
}
.second-section-feature-part img{
    width: 40%;
}
.second-section-feature-part h4{
    margin: 3% 0% 5% 0%;
    color: rgb(76 73 70);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 117%;
}
.second-section-feature-part p{
    color: rgb(76 73 70);
}
 /** Third section **/
.third-section{
    width: 80%;
    display: flex;
    margin-left: 92px;
}
.third-section img{
    width: 84%;
    height: 88%;
    margin: 15% 3% 3% -8%;
}
.third-section-side-feature{
    margin-top: 28%;
    margin-left: -2%;
}
.third-section-side-feature h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 23px;
    line-height: 36px;
    color: #4c4e52;
}
.third-section-side-feature p{
    color: #4c4e52;
    margin-top: 15px;
}
.button-2{
    text-decoration: none;
    background-color: #FF5959;
    color: beige;
    display: block;
    text-align: center;
    margin: 3% 55% 5% 0%;
    padding: 2% 0%;
    border-radius: 4%;
    margin-bottom: 8%;
}
/** four-section **/
.four-section{
    display: flex;
    margin-left: 101px;
    margin-top: 98px;
}
.four-section-div-1{
    width: 57%;
    margin: 85px 5px 5px -52px;
}
.four-section-div-1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 23px;
    line-height: 36px;
    color: #4c4e52;
}
.four-section-div-1 p{
    color: #4c4e52;
    margin-top: 15px;
}
.four-section-div-1 a{
    text-decoration: none;
    background-color: #FF5959;
    color: beige;
    display: block;
    text-align: center;
    margin: 3% 67% 5% 0%;
    padding: 9px 0px;
    border-radius: 4%;
    margin-bottom: 8%;
}
.four-section-div-2 img{
    width: 370px;
    margin-left: 120px;
}
/** five-section **/
.five-section-maindiv{
    display: flex;
    margin-top: 100px;
}
.five-section-div1{
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    margin-left: 53px;
    width: 550px;
    height: 383px;
}
.main-feature{
    margin: 76px 61px 1px 59px;
}
.five-section-div1-a{
    text-decoration: none;
    background-color: #BD8CBF;
    padding: 6px 12px;
    border-radius: 7px;
    color: #cbd7d7;
}
.five-section-div1-p1{
    margin-top: 21px;
    font-size: 40px;
    color: #6a7070;
}
.five-section-div1-p2{
    margin-top: 18px;
    color: #6a7070;
}
.unick-a{
    background-color: #a76cd1;
    padding: 8px 12px;
    color: #e3e3e3;
    width: 96px;
    display: block;
    margin-top: 76px;
}
.five-section img{
    width:100px;
    display: block;
}
.img-1{
    margin-top: -75px;
    margin-left: 224px;
}
.img-2{
    margin-top: -95px;
    margin-left: 336px;  
}
/** Footer part **/
.footer{
    width: 100%;
    height: 105px;
    background-color: #0B0D17;
    margin-top: 15%;
    color: cornsilk;
    text-align: center;
}
.footer h2{
    font-family: 'Playball', cursive;
    color: #b9adad;
    padding-top: 30px;
}
.footer h2 span{
    color: #FF5959;
}
.footer p{
    font-size: small;
    font-weight: 500;
    color: #b9adad;
    margin-top: 12px;
}